<div class="row">
    {% if imagenes != null %}
        <select class="image-picker show-html">
            <option value=""></option>
            {% for imagen in imagenes %}
                <option data-img-src="{{ imagen.link }}" value="{{ imagen.id }}" data-img-height="136" data-container-width="200" data-container-height="150">{{ imagen.nombre }}</option>
                {#<div class="panel col-12 col-md-3 col-lg-3">
                <div class="panel-body">
                <h4>{{ image.nombre }}</h4>
                <br/>
                <img class="img-responsive" src="{{ image.link }}">
                <br/>
                </div>
                </div>#}
            {% endfor %}
        </select>
    {% else %}
        No hay imágenes aún en el servidor.
    {% endif %}
</div>