{% extends 'layouts/frontend.html.twig' %}

{% block title %}Articulos por Categoría - El Precursor{% endblock %}

{% block menu %}
    {% include 'frontend/menu.html.twig' with {'option': 'home'} %}
{% endblock %}

{% block slider %}
    {# Banner de Académicos #}
    {% if categoria.nombre == 'Académicos' %}
        <div class="row-fluid">
            <img class="img-responsive" src="{{ app.banner_path }}/academicos.jpg">
        </div>
    {% endif %}
    {# Banner de Culturales #}
    {% if categoria.nombre == 'Comunidad' %}
        <div class="row-fluid">
            <img class="img-responsive" src="{{ app.banner_path }}/culturales.jpg">
        </div>
    {% endif %}
    {# Banner de Comunidad #}
    {% if categoria.nombre == 'Culturales' %}
        <div class="row-fluid">
            <img class="img-responsive" src="{{ app.banner_path }}/comunidad.jpg">
        </div>
    {% endif %}
    {# Banner de Deportivos #}
    {% if categoria.nombre == 'Deportes' %}
        <div class="row-fluid">
            <img class="img-responsive" src="{{ app.banner_path }}/deportivos.jpg">
        </div>
    {% endif %}
    {# Banner de Investigación #}
    {% if categoria.nombre == 'Investigación' %}
        <div class="row-fluid">
            <img class="img-responsive" src="{{ app.banner_path }}/investigacion.jpg">
        </div>
    {% endif %}
    {# Banner de Opinión #}
    {% if categoria.nombre == 'Opinión' %}
        <div class="row-fluid">
            <img class="img-responsive" src="{{ app.banner_path }}/opinion.jpg">
        </div>
    {% endif %}
    {# Banner de Tecnología #}
    {% if categoria.nombre == 'Tecnología' %}
        <div class="row-fluid">
            <img class="img-responsive" src="{{ app.banner_path }}/tecnologia.jpg">
        </div>
    {% endif %}
    {# Banner de Variedades #}
    {% if categoria.nombre == 'Variedades' %}
        <div class="row-fluid">
            <img class="img-responsive" src="{{ app.banner_path }}/variedades.jpg">
        </div>
    {% endif %}
    {# Banner de Galería #}
    {% if categoria.nombre == 'Galería' %}
        <div class="row-fluid">
            <img class="img-responsive" src="{{ app.banner_path }}/galeria.jpg">
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-12 col-sm-8 col-lg-8">
        <div class="row-fluid">
            <h1 class="page-header">{{ categoria.nombre }}</h1>
            {% if articulosCategoria|length > 0 %}
                {% for articulo in articulosCategoria %}
                    <div class="col-12 col-md-4 col-xs-6 col-sm-6 col-lg-4 no-padding thumb">
                        <a class="thumbnail" href="{{ path('noticia', { id: articulo.id }) }}">
                            <img class="img-responsive" {% if articulo.imagen != null %} src="{{ articulo.imagen }}" {% else %} src="holder.js/300x200/auto/text:Imagen" {% endif %} alt="Sin imagen">
                            <h4 class="text-primary">{{ articulo.titulo }}</h4>
                            <p>{{ articulo.fecha_pub }}</p>
                            <p>{{ articulo.descripcion }}</p>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay noticias relacionadas a esta categoría</p>
            {% endif %}
        </div>

        <hr>

        <!-- ERROR DE PAGINADOR-->
        {#<div class="row-fluid">
            <!-- pager -->
            <ul class="pager">
                {{ paginador_noticias(articulosCategoria, 6, app.request) }}
            </ul>
        </div>#}

    </div>
    <div class="col-12 col-sm-4 col-lg-4 pull-right" id="sidebar">
        <div class="well">
            <h4>Búsqueda</h4>
            <div class="input-group">
                <form class="form-busqueda" method="GET" action="{{ path("busqueda") }}">
                    <input id="Articulo_busqueda" type="text" name="busqueda" class="form-control">
                     <span class="input-group-btn">
                         <button class="btn btn-default" type="submit">
                             <span class="glyphicon glyphicon-search"></span>
                         </button>
                     </span>
                </form>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /well -->
        <div class="well">
            <h4>Suscríbete a El Precursor</h4>
            <div class="input-group">
                <form class="form-suscriptor">
                    <input type="email" name="correo" class="form-control" placeholder="Ingrese su correo electrónico..." autocomplete="off" required>
                     <span class="input-group-btn">
                         <button class="btn btn-default" type="submit">
                             <span class="glyphicon glyphicon-envelope"></span>
                         </button>
                     </span>
                </form>
            </div>
            &nbsp;
            <div class="responseSuscriptor"></div>
            <div class="modalSuscriptor"></div>
            <!-- /input-group -->
        </div>
        <!-- /well -->

        <div class="well">
            <h4>Síguenos en twitter</h4>
            <a href="https://twitter.com/elprecursorcufm" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir a @elprecursorcufm</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <!-- /well -->

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.form-suscriptor').submit(function(ev) {
            ev.preventDefault();

            var uri  = '{{ path('suscriptor_registrar') }}';
            var data = $(this).serialize();
            var success = function(response){
                response = JSON.parse(response);

                if (response.mensaje == "Correo existe") {
                    verAlert('.responseSuscriptor', "¡Este correo ya esta registrado!", 'warning', true, true, 2500);
                } else if (response.mensaje == "Usuario suscrito") {
                    //verAlert('.responseSuscriptor', "¡Suscripción exitosa!", 'info', false, true, 2000);

                    var buttonsFooter = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="enviarCategorias(false)">Cerrar</button>'+
                            '<button type="button" class="btn btn-primary" onclick="enviarCategorias(true)">Enviar</button>';

                    verModalDialog('.modalSuscriptor', 'Elegir las secciones', '<p><b>Se ha registrado con éxito el correo que ha enviado.</b></p>', buttonsFooter,'info');

                    var url = '{{ path("suscriptor_categorias_list_ajax") }}';
                    var success = function(response, textStatus, xhr) {
                        $('.responseSuscriptor').html('').removeClass('alert-warning').removeClass('alert-info');
                        $('.modalSuscriptor .modal-body').append(response);
                    };

                    ajaxRequest('.responseSuscriptor', url, false, true, true, 'POST', false, false, success);
                } else if (response.mensaje == "Usuario no suscrito") {
                    verAlert('.responseSuscriptor', "Ocurrió un problema al suscribirse. Intente de nuevo mas tarde.", 'error');
                }
            };

            ajaxRequest('.responseSuscriptor',uri, data, false, false, 'POST', false, false, success);
        });

        function enviarCategorias(showResponse) {
            var url = '{{ path("suscriptor_guardar_categorias") }}';
            var data = $('#form_categorias').serialize() + '&correo=' + $('input[name="correo"]').val();

            var success = function(response, textStatus, xhr) {
                response = JSON.parse(response);
                if (xhr.status == 202) {
                    if (showResponse) {
                        verAlert('.modalSuscriptor .modalResponse', "<p>Ocurrió un error interno y no se pudo completar su petición. Intente de nuevo mas tarde.</p><p>Detalles del error: " + response + "</p>", 'error');
                    }
                }
                if (xhr.status == 200) {
                    $('input[name="correo"]').val('');
                    $('.modalSuscriptor').modal('hide');
                    verAlert('.responseSuscriptor', "<p>Recibirá pronto nuestras noticias en su correo.</p>", 'info', false, true, 2500);
                }
            };

            ajaxRequest('.responseSuscriptor', url, data, showResponse, showResponse, 'POST', false, false, success);
        }
    </script>
{% endblock %}