<div class="navbar navbar-default" role="navigation" style="height: 52px">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Menú</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">El Precursor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if menu_items %}
                    {% for menu_item in menu_items %}
                        <li class="{% if menu_item.children is defined %}dropdown{% endif %}{% if option is defined and option == menu_item.texto %}active{% endif %}">
                            {% if menu_item.children is defined %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu_item.texto }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for submenu_item in menu_item.items %}
                                        <li {% if option is defined and option == submenu_item.texto %}class="active"{% endif %}>
                                            <a href="{{ submenu_item.link }}">{{ submenu_item.texto }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <a href="{{ menu_item.link }}">{{ menu_item.texto }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li {% if option is defined and option == 'home' %}class="active"{% endif %}>
                        <a href="{{ path('home') }}">Inicio</a>
                    </li>
                {% endif %}
                {#<li>#}
                    {#<a href="#about">About</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#contact">Contact</a>#}
                {#</li>#}
                {#<li class="dropdown">#}
                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>#}
                    {#<ul class="dropdown-menu">#}
                        {#<li><a href="#">Action</a></li>#}
                        {#<li><a href="#">Another action</a></li>#}
                        {#<li><a href="#">Something else here</a></li>#}
                        {#<li class="divider"></li>#}
                        {#<li class="dropdown-header">Nav header</li>#}
                        {#<li><a href="#">Separated link</a></li>#}
                        {#<li><a href="#">One more separated link</a></li>#}
                    {#</ul>#}
                {#</li>#}
            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.nombre }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('admin') }}">Panel de administración</a>
                                </li>
                            {% endif %}
                            {#<li>#}
                                {#<a href="#">Action</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="#">Another action</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="#">Something else here</a>#}
                            {#</li>#}
                            <li class="divider"></li>
                            <li class="dropdown-header">Cuenta</li>
                            <li>
                                <a href="#">Editar mis datos</a>
                            </li>
                            <li>
                                <a href="{{ path('logout') }}">Cerrar sesión</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li {% if option is defined and option == 'login' %}class="active"{% endif %}>
                        <a href="{{ path('login') }}">Iniciar sesión</a>
                    </li>
                </ul>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</div>