{% extends 'layouts/frontend.html.twig' %}

{% block title %}{{ articulo.titulo }} - El Precursor{% endblock %}

{% block content %}
    <div class="col-12 col-sm-8 col-lg-8">

        <!-- the actual blog post: title/author/date/content -->
        <h1 class="page-header">{{ articulo.titulo }}</h1>
        <p>
            Por <a href="index.php">{{ articulo.autor }}</a> <span class="glyphicon glyphicon-time"></span> {{ articulo.fecha_pub }}
        </p>
        <hr>
        <img {% if articulo.imagen != null %} src="{{ articulo.imagen }}" {% else %} src="holder.js/600x400/auto/text:Imagen" {% endif %} class="img-responsive">
        <hr>
        <p class="lead">{{ articulo.descripcion }}</p>

        <div class="row" style="overflow: hidden">
            {{ articulo.contenido|raw }}
        </div>

        <p><strong>Noticias Relacionadas</strong>
        </p>
        <ul>
            <li><a href="http://spaceipsum.com/">Tecnología</a>
            </li>
            <li><a href="http://cupcakeipsum.com/">Educación</a>
            </li>
        </ul>

        <hr class="row">

        <!-- the comment box -->
        <div class="row well">
            <h4>Comentar</h4>
            <form id="comentario_form">
                <div class="form-group">
                    <input type="hidden" name="comentario[idArticulo]" value="{{ articulo.id }}">
                    <textarea class="form-control" name="comentario[contenido]" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar comentario</button>
            </form>
        </div>

        <hr class="row">

        <!-- Los comentarios -->
        <div class="row" id="comentarios"></div>

    </div>
    <div class="col-12 col-sm-4 col-lg-4 pull-right" id="sidebar">
        <div class="well">
            <h4>Búsqueda</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /well -->
        <div class="well">
            <h4>Noticias más vistas</h4>
            <div class="row">
                <div class="col-lg-12">
                    <img class="col-lg-4" src="holder.js/120x100/auto/text:Imagen">
                    <p class="col-lg-8">
                        La colisión, entre la gabarra Doña Martha y una chalana, está siendo atendida por funcionarios del 171 y cuerpos de seguridad de la entidad.
                    </p>
                </div>
                <div class="col-lg-12">
                    <img class="col-lg-4" src="holder.js/120x100/auto/text:Imagen">
                    <p class="col-lg-8">
                        La colisión, entre la gabarra Doña Martha y una chalana, está siendo atendida por funcionarios del 171 y cuerpos de seguridad de la entidad.
                    </p>
                </div>
            </div>
        </div>
        <!-- /well -->
        <!-- /well -->
        <div class="well">
            <h4>Categorías</h4>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        {% for categoria in categorias %}
                            <li>
                                <a href="#{{ categoria.nombre }}">{{ categoria.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- /well -->
        <!-- <div class="well">
            <h4>Side Widget Well</h4>
            <p>Bootstrap's default wells work great for side widgets! What is a widget anyways...?</p>
        </div> -->
        <!-- /well -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var url = '{{ path("comentarios_articulo_ajax", {idArticulo:articulo.id} ) }}';
            var success = function(response) {
                comentarios = JSON.parse(response);

                for (var i = 0; i < comentarios.length; i++) {
                    $('#comentarios').append('<div class="comentario"><h3>' + comentarios[i]['usuario'] + ' <small>' + comentarios[i]['fecha'] + '</small></h3><p>' + comentarios[i]['contenido'] + '</p></div>');
                }
            };
            ajaxRequest('#comentarios', url, null, false, false, null, null, null, success);
        });
        $('#comentario_form').submit(function(event) {
            event.preventDefault();
            
            var url = '{{ path("guardar_comentario") }}';
            var data = $(this).serialize();
            var fecha = new Date();
            var fecha_texto = getHoraFormateada() + ' | ' + fecha.getDate() + ' de ' + getMes(fecha.getMonth()) + ' de ' + fecha.getFullYear();
            var success = function(response) {
                response = JSON.parse(response);

                if (response.usuario) {
                    var usuario = response.usuario;
                }

                if (response.estatus == 200 && response.mensaje == 'Comentario guardado.') {
                    $('#comentarios').append('<div class="comentario"><h3>' + usuario.nombre + ' <small>' + fecha_texto + '</small></h3><p>' + $('#comentario_form textarea').val() + '</p></div>');
                } else if (response.estatus == 200 && response.mensaje == 'Comentario no guardado.') {

                } else if (response.estatus == 403) {
                    $('#comentarios').append('Debe loguearse.');
                }
            };

            ajaxRequest('#comentarios', url, data, false, false, null, null, null, success);
        });
    </script>
{% endblock %}