{% extends 'layouts/frontend.html.twig' %}

{% block title %}Registrarse - El Precursor{% endblock %}

{% block menu %}
    {% include 'frontend/menu.html.twig' with {'option': 'login'} %}
{% endblock %}

{% block body_params %}class="skin-blue" id="user-login-signup"{% endblock %}

{% block content %}
    <div class="col-sm-12 forms">
        <form class="form-signup">
            <h2 class="page-header">Registrarse</h2>
            <div class="input-group">
                <label for="Usuario_nombre" class="btn btn-default input-group-addon"><b>Nombre:</b></label>
                <input type="text"
                       class="form-control"
                       id="Usuario_nombre"
                       name="Usuario[nombre]"
                       {% if usuario.service == 'facebook' %}
                           value="{{ usuario.first_name }}"
                       {% elseif usuario.service == 'google' %}
                           value="{{ usuario.given_name }}"
                       {% endif %}
                       placeholder="Introduzca su nombre"
                       required>
            </div>
            <div class="input-group">&nbsp;</div>
            <div class="input-group">
                <label for="Usuario_apellido" class="btn btn-default input-group-addon"><b>Apellido:</b></label>
                <input type="text"
                       class="form-control"
                       id="Usuario_apellido"
                       name="Usuario[apellido]"
                       {% if usuario.service == 'facebook' %}
                           value="{{ usuario.last_name }}"
                       {% elseif usuario.service == 'google' %}
                           value="{{ usuario.family_name }}"
                       {% endif %}
                       placeholder="Introduzca su apellido"
                       required>
            </div>
            <div class="input-group">&nbsp;</div>
            <div class="input-group">
                <label for="Usuario_correo" class="btn btn-default input-group-addon"><b>Correo:</b></label>
                <input type="email"
                       class="form-control"
                       id="Usuario_correo"
                       name="Usuario[correo]"
                       value="{{ usuario.email }}"
                       placeholder="Introduzca su correo electrónico"
                       required>
            </div>
            <div class="input-group">&nbsp;</div>
            <div class="input-group">
                <label for="Usuario_alias" class="btn btn-default input-group-addon"><b>Alias:</b></label>
                <input type="text"
                       class="form-control"
                       id="Usuario_alias"
                       name="Usuario[alias]"
                       placeholder="Introduzca su alias de usuario"
                       required>
            </div>
            <div class="input-group">&nbsp;</div>
            <div class="input-group">
                <label for="Usuario_clave" class="btn btn-default input-group-addon"><b>Clave:</b></label>
                <input type="password"
                       class="form-control"
                       id="Usuario_clave"
                       name="Usuario[clave]"
                       placeholder="Introduzca su clave"
                       required>
            </div>
            <div class="input-group">&nbsp;</div>
            <div class="input-group">
                <label for="Usuario_clave2" class="btn btn-default input-group-addon"><b>Repetir clave:</b></label>
                <input type="password"
                       class="form-control"
                       id="Usuario_clave2"
                       name="Usuario[clave2]"
                       placeholder="Repita su clave"
                       required>
            </div>
            <div class="input-group">&nbsp;</div>
            <div class="response"></div>
            <div class="input-group">
                <button class="btn btn-success" type="submit">Registrarse</button>
                &nbsp;
                <button class="btn btn-primary" id="login" type="button">Iniciar sesión</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ app.asset_path }}/js/Precursor/funciones.js"></script>
    <script>
        $(function() {
            $('.form-signup').fadeIn();
            
            $('.form-signup').submit(function(evt) {
                evt.preventDefault();
                
                $('.response').html("<div class='padding-5 center'><span class='ion-looping'></span></div>");
                
                if ($('#Usuario_clave').val() != $('#Usuario_clave2').val()) {
                    $('.response').html('<div class="alert alert-danger"><i class="fa ion-close"></i><b>Claves no coinciden.</b></div>');
                    return;
                }
                
                $.ajax({
                    type: 'POST',
                    url: '{{ path("signup") }}',
                    data: $(this).serialize(),
                    beforeSend: function() {
                        $('.response').html('').("<div class='padding-5 center'><span class='ion-looping'></span></div>");
                    },
                    success: function(response, textStatus, xhr) {
                        if (xhr.status == 202) {
                            $('.response').html('<div class="alert alert-danger"><i class="fa ion-close"></i><b>' + response + '</b></div>');
                        } else {
                            $('.response').html('<div class="alert alert-success"><i class="fa fa-check"></i><b>' + response + '</b></div>');
                            $('form.form-signup .input-group, form.form-signup h2.page-header, form.form-signup hr').hide();
                        }
                    },
                    error: function(xhr) {
                        if (xhr.status == 400) {
                            var response = JSON.parse(xhr.responseText);
                            $('.response').html('<div class="alert alert-danger"><i class="fa ion-close"></i><b>' + response.mensaje + '</b></div>');
                        } else if (xhr.status == 500) {
                            $('.response').html(xhr.responseText);
                        } else {
                            $('.response').html(xhr.responseText);
                        }
                    }
                });
            });
            
            $('#login').click(function() {
                location.href = '{{ path("login") }}';
            });
        });
    </script>
{% endblock %}