{% extends 'layouts/backend.html.twig' %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'articulo_create'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Crear Artículo
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                {% include 'ag_alerts.html.twig' %}
                
                <div class="mensaje alert"><div>

                <div class="row">
                    <div class="col-xs-12">

                        {{ form_start(form, {'method': 'POST'}) }}
                        {{ form_errors(form) }}

                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title"></h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">

                                <div class='form-group' id="articulo_imagen">
                                    <button class="btn btn-default"
                                            id="imageListButton"
                                            type="button"
                                            data-toggle="modal"
                                            data-target="#imagenListModal">
                                        <i class="fa fa-picture-o"></i>
                                        Asignar imagen destacada
                                    </button>
                                </div>

                                <div class='form-group'>
                                    {{ form_label(form.titulo, 'Título') }}
                                    {{ form_widget(form.titulo, { attr: { 'class': 'form-control', 'placeholder' : 'Titular de la noticia'}}) }}
                                </div>

                                <div class='form-group'>
                                    {{ form_label(form.imagen, 'Imagen destacada') }}
                                    {{ form_widget(form.imagen, { attr: { 'class': 'form-control', 'placeholder' : 'Introduzca la URL de la imagen'}}) }}
                                </div>

                                <div class='form-group'>
                                    {{ form_label(form.descripcion, 'Descripción') }}
                                    {{ form_widget(form.descripcion, { attr: { 'class': 'form-control', 'placeholder' : 'Breve descripción de la noticia'}}) }}
                                </div>

                                <div class='form-group'>
                                    {{ form_label(form.contenido) }}
                                    {{ form_widget(form.contenido, { attr: { 'class': 'form-control ckeditor', 'id': 'insert', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' }}) }}
                                </div>

                                <div class='form-group'>
                                    {{ form_label(form.categoria, 'Categoría') }}
                                    {{ form_widget(form.categoria, { attr: { 'class': 'form-control' }}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.etiquetas, 'Etiquetas') }}
                                    {{ form_widget(form.etiquetas, { attr: { 'class': 'form-control'} }) }}
                                </div>
                            </div><!-- /.box-body -->
                            {{ form_rest(form) }}

                            <div class="box-footer">

                                {% if is_granted('ROLE_WRITER') %}
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                {% endif %}

                                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_EDITOR') %}
                                    <button type="button" 
                                        id="borradorButton"
                                        class="btn btn-info">Borrador
                                    </button>
                                    <button type="submit" class="btn btn-primary">Publicar</button>
                                {% endif %}

                                <button type="submit" class="btn btn-default" onclick="location.href = '{{ path('articulo_list') }}'">Volver</button>
                            </div>
                        </div><!-- /.box -->
                        {{ form_end(form) }}
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="imagenListModal" tabindex="-1" role="dialog" aria-labelledby="imagenListModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Elegir imagen</h4>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="accept_image">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal -->
                </div>
            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ app.asset_path }}/js/plugins/image-picker/image-picker.css" type="text/css" rel="stylesheet">
    <style>
        #imagenListModal .modal-body {
            height: 360px;
            overflow-y: auto;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#form_titulo, #form_imagen, #form_descripcion').bind('keyup blur', function() {
            keyText(this, true);// Acepta solo letras y espacios
        });

        $(function() {
            $("#imageListButton").click(function() {
                $.ajax({
                    type: 'GET',
                    url: '{{ path('imagen_list_json') }}',
                    beforeSend: function() {
                        $(".modal-body").html('Cargando...');
                    },
                    statusCode: {
                        404: function() {
                            $(".modal-body").html('No encontrado. Intente luego.');
                        }
                    }
                })
                .done(function(data) {
                    $(".modal-body").html(data);
                    $("select.image-picker").imagepicker({
                        hide_select: true,
                        show_label: false
                    });
                    $("#accept_image").click(function() {
                        $("#form_imagen").val($(".selected img").attr("src"));
                        if ($("#form_imagen").val() != "") {
                            $("#articulo_imagen").html('<img src=" ' + $(".selected img").attr("src") + ' " style="width:200px">' +
                                    '<button class="btn btn-default" ' +
                                    'id="imageListButton" ' +
                                    'type="button" ' +
                                    'data-toggle="modal" ' +
                                    'data-target="#imagenListModal"> ' +
                                    '<i class="fa fa-picture-o"></i> ' +
                                    'Modificar imagen de artículo ' +
                                    '</button>');
                            $("#articulo_imagen").fadeIn();
                        }
                    });
                });
            });
            $('form').submit(function(event) {
                if (!$('#form_imagen').val()) {
                    alert('Debe elegir una imagen para el producto.');
                    $("#imageListButton").focus();
                    event.preventDefault();
                }
            });
        });

        $(function() {
            $("form").submit(function(evt) {
                evt.preventDefault();

                {% if is_granted('ROLE_WRITER') %}
                    var url = '{{ path("articulo_create") }}?accion=borrador';
                {% else %}
                    var url = '{{ path("articulo_create") }}?accion=publicado';
                {% endif %}

                var contenido = CKEDITOR.instances.form_contenido.getData();
                if (contenido != "") {
                    $(this).find('#form_contenido').val(contenido);
                } else {
                    $('.mensaje').html('Contenido vacío').addClass('alert-warning');
                }

                var data = $(this).serialize();

                console.log(data);
                
                var success = function(response, textStatus, xhr) {
                    //articulo = JSON.parse(response);
                    if (xhr.status == 202) {
                        console.log(response);
                        $('.mensaje').html(response).addClass('alert-warning');
                    } else if (xhr.status == 200) {
                        console.log(response);
                        $('.mensaje').html('El artículo se ha creado y publicado con éxito').addClass('alert-success');
                        $(location).attr('href', '{{ path("articulo_list") }}');
                    }
                };
                ajaxRequest('.mensaje', url, data, true, true, null, null, null, success);
            });
            $("#borradorButton").click(function(evt) {
                evt.preventDefault();

                var url = '{{ path("articulo_create") }}?accion=borrador';

                var contenido = CKEDITOR.instances.form_contenido.getData();
                if (contenido != "") {
                    $(this).find('#form_contenido').val(contenido);
                } else {
                    $('.mensaje').html('Contenido vacío').addClass('alert-warning');
                }

                var data = $('form').serialize();
                
                var success = function(response, textStatus, xhr) {
                    //articulo = JSON.parse(response);
                    if (xhr.status == 202) {
                        console.log(response);
                        $('.mensaje').html(response).addClass('alert-warning');
                    } else if (xhr.status == 200) {
                        console.log(response);
                        $('.mensaje').html('El artículo se ha creado con éxito').addClass('alert-success');
                        $(location).attr('href', '{{ path("articulo_list") }}');
                    }
                };
                ajaxRequest('.mensaje', url, data, true, true, null, null, null, success);
            });
        });

    </script>
    <script src="{{ app.asset_path }}/js/plugins/image-picker/image-picker.js"></script>
{% endblock %}
