{% extends 'layouts/backend.html.twig' %}

{% block body_params %}class="skin-blue"{% endblock %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'imagen_create'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Subir imágenes
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                {% include 'ag_alerts.html.twig' %}

                <div class="row">
                    <div class="col-md-12">

                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title"></h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">

                                <div class="row" id="dropbox">
                                    <span class="message">Arrastra las imágenes para subir. <br /><i>Luego de arrastralas se subirán al servidor automáticamente</i></span>
                                </div>
                                
                                <div class="archivos row">
                                    <form id="form_image" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <input type="file" name="image" id="image" accept="image/*" required>
                                        </div>
                                        {#<div class='form-group'>
                                            {{ form_label(form.fuente_autor, 'Fuente o Autor de la Imagen') }}
                                            {{ form_widget(form.fuente_autor, { attr: { 'class': 'form-control' }}) }}
                                        </div>#}
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Subir imagen</button>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- /.box-body -->
                            <div class="box-footer">
                                <button type="button" class="btn btn-default" onclick="location.href='{{ path("imagen_list") }}'">Volver</button>
                            </div>
                        </div><!-- /.box -->
                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ app.asset_path }}/css/filedrop/filedrop.css" rel="stylesheet" type="text/css">
    <style>
        .archivos {
            margin: 20px 20px 0 20px;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ app.asset_path }}/js/plugins/filedrop/jquery.filedrop.js"></script>
    <script>
        $(function() {

            /** Funciones de Drop Box */
            var dropbox = $('#dropbox'),
                    message = $('.message', dropbox);

            dropbox.filedrop({
                // The name of the $_FILES entry:
                paramname:'image',
                maxfiles: 5,
                maxfilesize: 2,
                url: 'create',
                uploadFinished:function(i,file,response){
                    if (response.result == 'File was uploaded successfuly!') {
                        $.data(file).addClass('done');
                    } else if (response.result == 'Uploads are not permited.') {
                        message.html('Subida de archivos no permitida.').show();
                        $.data(file).addClass('error');
                    } else {
                        $.data(file).addClass('error');
                    }
                    // response is the JSON object that post_file.php returns
                },
                error: function(err, file) {
                    switch(err) {
                        case 'BrowserNotSupported':
                            showMessage('¡Tu navegador no soporta HTML5!');
                            break;
                        case 'TooManyFiles':
                            alert('¡Sólo se permiten subir 5 archivos a la vez!');
                            break;
                        case 'FileTooLarge':
                            alert('¡' + file.name + ' es demasiado grande! Sólo se permite un máximo de 2mb por archivo.');
                            break;
                        default:
                            break;
                    }
                },
                // Called before each upload is started
                beforeEach: function(file){
                    if (!file.type.match(/^image\//)) {
                        alert('¡Sólo imágenes permitidas!');

                        // Returning false will cause the
                        // file to be rejected
                        return false;
                    }
                    var autor = prompt('Introduzca el autor o fuente de la imagen.');
                },
                uploadStarted:function(i, file, len){
                    createImage(file);
                },
                progressUpdated: function(i, file, progress) {
                    $.data(file).find('.progress').width(progress);
                }
            });

            var template = '<div class="preview col-12 col-md-3 col-lg-3">'+
                    '<span class="imageHolder">'+
                    '<img />'+
                    '<span class="uploaded"></span>'+
                    '</span>'+
                    '<div class="progressHolder">'+
                    '<div class="progress"></div>'+
                    '</div>'+
                    '</div>';

            function createImage(file, js) {

                var preview = $(template),
                      image = $('img', preview);

                var reader = new FileReader();

                image.width = 100;
                image.height = 100;
                
                reader.onload = function(e) {
                    // e.target.result holds the DataURL which
                    // can be used as a source of the image:
                    image.attr('src',e.target.result);
                };

                // Reading the file as a DataURL. When finished,
                // this will trigger the onload function above:
                reader.readAsDataURL(file);

                message.hide();
                preview.appendTo(dropbox);

                // Associating a preview container
                // with the file, using jQuery's $.data():

                $.data(file, preview);
                if (js) {
                    $.data(file).find('.progressHolder').remove();
                }
            }

            function showMessage(msg){
                messagTe.html(msg);
            }
            /** Fin Funciones Drop Box **/
            
            $('form#form_image').submit(function(evt) {
                evt.preventDefault();

                var fuente_autor = prompt('Introduzca el autor o fuente de la imagen.');

                var file = evt.target[0].files[0];
                
                createImage(file, true);

                $.ajax({
                    type: 'POST',
                    url: '{{ path("imagen_create") }}?fuente_autor=' + fuente_autor,
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    beforeSend: function() {
                        Pace.restart();
                    },
                    success: function(response) {
                        response = JSON.parse(response);
                        if (response.result == 'Ninguna imagen') {
                            message.html('No fue enviada ninguna imagen. Vuelva a intentar luego.').fadeIn();
                        } else if (response.result == 'File was uploaded successfuly!') {
                            $.data(file).addClass('done');
                        } else {
                            message.html(response.result).fadeIn();
                            $.data(file).addClass('error');
                        }
                    }
                });
            });

        });
    </script>
{% endblock %}