{% extends 'layouts/backend.html.twig' %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'dasboard'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Panel de Administración
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">

                        {% include 'ag_alerts.html.twig' %}

                        <div class="box">
                            <div class="box-body">

                                <h4>Comentarios de usuarios</h4>

                                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_EDITOR') %}

                                    <div class="well col-sm-3 col-lg-2">
                                        <h4>Comentarios por aprobar</h4>
                                        <div class="data">
                                            <h1>{{ comentarios|length }}</h1>
                                            <hr>
                                            <button type="button" class="btn btn-primary" id="verTablaComentarios" onclick="$('.comentariosTableContainer').fadeIn(1000)">Ver comentarios</button>
                                        </div>
                                    </div>

                                    <div class="well col-sm-3 col-lg-2">
                                        <h4>Artículos por aprobar</h4>
                                        <div class="data">
                                            <h1>{{ articulos|length }}</h1>
                                            <hr>
                                            <button type="button" class="btn btn-primary" id="verTablaArticulos" onclick="$('.articulosTableContainer').fadeIn(1000)">Ver artículos</button>
                                        </div>
                                    </div>

                                    <div class="row">&nbsp;</div>

                                    <div class="comentariosTableContainer" style="display:none">
                                        <div class="box-body">
                                            <h4>Comentarios de usuarios</h4>
                                        </div>

                                        <table id="comentario_list" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Artículo</th>
                                                <th>Usuario</th>
                                                <th>Comentario</th>
                                                <th>Fecha</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for comentario in comentarios %}
                                                <tr>
                                                    <td>{{ comentario.articulo }}</td>
                                                    <td>{{ comentario.usuario }}</td>
                                                    <td>{{ comentario.contenido }}</td>
                                                    <td>{{ comentario.fecha }}</td>
                                                    <td>
                                                        <a href="{{ path('aprobar_comentario', { id: comentario.id }) }}" onclick='return confirm_aprobar();' class="btn btn-success btn-xs">Aprobar</a>
                                                        <button data-comentario-id="{{ comentario.id }}" href="#" class="btn btn-danger btn-xs eliminarComentario">Eliminar</button>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Artículo</th>
                                                <th>Usuario</th>
                                                <th>Comentario</th>
                                                <th>Fecha</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                    <div class="articulosTableContainer" style="display:none">
                                        <div class="box-body">
                                            <h4>Artículos de escritores</h4>
                                        </div>

                                        <table id="articulo_list" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Categoría</th>
                                                <th>Título</th>
                                                <th>Autor</th>
                                                <th>Fecha Pub.</th>
                                                <th>Estatus</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for articulo in articulos %}
                                                <tr>
                                                    <td>{{ articulo.categoria }}</td>
                                                    <td>{{ articulo.titulo }}</td>
                                                    <td>{{ articulo.autor }}</td>
                                                    <td>{{ articulo.fecha_pub }}</td>
                                                    <td>
                                                        {% if articulo.estatus == 'B' %}
                                                            <p class="text-info col-md-12">Borrador</p>
                                                        {% elseif articulo.estatus == 'A'%}
                                                            <p class="text-success col-md-12">Publicado</p>
                                                        {% elseif articulo.estatus == 'I'%}
                                                            <p class="text-warning col-md-12">Inactivo</p>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('articulo_vista_previa', { id: articulo.id }) }}" class="btn btn-primary btn-xs col-md-6">Ver</a>
                                                        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_EDITOR') %}
                                                            <a href="{{ path('articulo_delete', { id: articulo.id }) }}" onclick='return confirm_delete();' class="btn btn-danger btn-xs col-md-6">Eliminar</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Categoría</th>
                                                <th>Título</th>
                                                <th>Autor</th>
                                                <th>Fecha Pub.</th>
                                                <th>Estatus</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .well {
            margin-right: 1px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#comentario_list, #articulo_list').dataTable();
        });
        $('.eliminarComentario').click(function() {
            var idComentario = $(this).attr('data-comentario-id');
            if (confirm('¿Desea eliminar este comentario? \n Esta acción no se podrá deshacer')) {
                var success = function(response) {
                    var response = JSON.parse(response);
                    if (response.mensaje == 'Comentario eliminado.') {
                        console.log(response);
                        window.location.reload();
                    } else {
                        console.log(response);
                    }
                };
                ajaxRequest('.response', '{{ path('comentario_list') }}/delete/' + idComentario, false, true, true, 'POST', false, false, success);
            }
        });

        function confirm_aprobar(){
            if(!confirm("Está seguro que desea aprobar el comentario?")) {
                return false;
            }
        }
    </script>
{% endblock %}