{% extends 'layouts/backend.html.twig' %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'dasboard'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Panel de Administración
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">

                        {% include 'ag_alerts.html.twig' %}

                        <div class="box">
                            <div class="box-body">

                                <h4>Comentarios de usuarios</h4>

                            </div>

                            <table id="comentario_list" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Artículo</th>
                                    <th>Usuario</th>
                                    <th>Comentario</th>
                                    <th>Fecha</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                 {% for comentario in comentarios %}
                                     <tr>
                                         <td>{{ comentario.articulo }}</td>
                                         <td>{{ comentario.usuario }}</td>
                                         <td>{{ comentario.contenido }}</td>
                                         <td>{{ comentario.fecha }}</td>
                                         <td>
                                             <a href="{{ path('aprobar_comentario', { id: comentario.id }) }}" onclick='return confirm_aprobar();' class="btn btn-success btn-xs">Aprobar</a>
                                             <button data-comentario-id="{{ comentario.id }}" href="#" class="btn btn-danger btn-xs eliminarComentario">Eliminar</button>
                                         </td>
                                     </tr>
                                 {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Artículo</th>
                                    <th>Usuario</th>
                                    <th>Comentario</th>
                                    <th>Fecha</th>
                                    <th>Acciones</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->mostrar

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#comentario_list').dataTable();
        });
        $('.eliminarComentario').click(function() {
            var idComentario = $(this).attr('data-comentario-id');
            if (confirm('¿Desea eliminar este comentario? \n Esta acción no se podrá deshacer')) {
                var success = function(response) {
                    var response = JSON.parse(response);
                    if (response.mensaje == 'Comentario eliminado.') {
                        console.log(response);
                        window.location.reload();
                    } else {
                        console.log(response);
                    }
                };
                ajaxRequest('.response', '{{ path('comentario_list') }}/delete/' + idComentario, false, true, true, 'POST', false, false, success);
            }
        });

        function confirm_aprobar(){
            if(!confirm("Esta seguro que desea aprobar el comentario?")) {
                return false;
            }
        }
    </script>
{% endblock %}