{% extends 'ag_menu.html.twig' %}

{% block menu %}

<li class="treeview {% if option is defined and (option == 'articulo_list' or option == 'articulo_create' or option == 'articulo_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>Artículos</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'articulo_list' %}class="active"{% endif %}><a href="{{ path('articulo_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Ver artículos</a></li>
        <li {% if option is defined and option == 'articulo_create' %}class="active"{% endif %}><a href="{{ path('articulo_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nuevo</a></li>
    </ul>
</li>

{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_EDITOR') %}
<li class="treeview {% if option is defined and (option == 'categoria_list' or option == 'categoria_create' or option == 'categoria_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-th-list"></i>
        <span>Categorías</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'categoria_list' %}class="active"{% endif %}><a href="{{ path('categoria_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Ver categorías</a></li>
        <li {% if option is defined and option == 'categoria_create' %}class="active"{% endif %}><a href="{{ path('categoria_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nueva</a></li>
    </ul>
</li>
{% endif %}

{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="treeview {% if option is defined and (option == 'comentario_list' or option == 'comentario_create' or option == 'comentario_edit') %}active{% endif %}">
        <a href="#">
            <i class="fa fa-comment"></i>
            <span>Comentarios</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li {% if option is defined and option == 'comentario_list' %}class="active"{% endif %}><a href="{{ path('comentario_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Ver comentarios</a></li>
            <li {% if option is defined and option == 'comentario_create' %}class="active"{% endif %}><a href="{{ path('comentario_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nuevo</a></li>
        </ul>
    </li>
{% endif %}

<li class="treeview {% if option is defined and (option == 'etiqueta_list' or option == 'etiqueta_create' or option == 'etiqueta_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-tags"></i>
        <span>Etiquetas</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'etiqueta_list' %}class="active"{% endif %}><a href="{{ path('etiqueta_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Ver etiquetas</a></li>
        <li {% if option is defined and option == 'etiqueta_create' %}class="active"{% endif %}><a href="{{ path('etiqueta_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nueva</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'imagen_list' or option == 'imagen_create' or option == 'imagen_edit') %}active{% endif %}">
    <a href="#">
        <i class="glyphicon glyphicon-picture"></i>
        <span>Imágenes</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'imagen_list' %}class="active"{% endif %}><a href="{{ path('imagen_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Ver todas</a></li>
        <li {% if option is defined and option == 'imagen_create' %}class="active"{% endif %}><a href="{{ path('imagen_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nueva</a></li>
    </ul>
</li>

{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="treeview {% if option is defined and (option == 'opcion_list' or option == 'opcion_create' or option == 'opcion_edit' or option == 'archivo_list' or option == 'archivo_create' or option == 'archivo_edit' or option == 'menu') %}active{% endif %}">
        <a href="#">
            <i class="fa fa-gears"></i>
            <span>Opciones</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li class="treeview {% if option is defined and (option == 'archivo_list' or option == 'archivo_create' or option == 'archivo_edit') %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>Archivos</span>
                    <i class="fa pull-right fa-angle-right"></i>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li {% if option is defined and option == 'archivo_list' %}class="active"{% endif %}><a href="{{ path('archivo_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Ver archivos</a></li>
                    <li {% if option is defined and option == 'archivo_create' %}class="active"{% endif %}><a href="{{ path('archivo_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nuevo</a></li>
                </ul>
            </li>
            <li class="treeview {% if option is defined and (option == 'auditoria_list' or option == 'logs_list') %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>Auditoria</span>
                    <i class="fa pull-right fa-angle-right"></i>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li {% if option is defined and option == 'auditoria_list' %}class="active"{% endif %}><a href="{{ path('auditoria_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Base de datos</a></li>
                    <li {% if option is defined and option == 'logs_list' %}class="active"{% endif %}><a href="{{ path('logs_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Logs</a></li>
                </ul>
            </li>
            <li {% if option is defined and option == 'correos' %}class="active"{% endif %}>
                <a href="{{ path('correos_ver') }}" style="margin-left: 10px;"><i class="fa fa-envelop"></i> Envío de correos</a>
            </li>
            <li {% if option is defined and option == 'menu' %}class="active"{% endif %}>
                <a href="{{ path('menu_index') }}" style="margin-left: 10px;"><i class="fa fa-bars"></i> Menú</a>
            </li>
        </ul>
    </li>
    <li class="treeview {% if option is defined and (option == 'perfil_list' or option == 'perfil_create' or option == 'perfil_edit') %}active{% endif %}">
        <a href="#">
            <i class="glyphicon glyphicon-asterisk"></i>
            <span>Perfiles</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li {% if option is defined and option == 'perfil_list' %}class="active"{% endif %}><a href="{{ path('perfil_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Ver perfiles</a></li>
            <li {% if option is defined and option == 'perfil_create' %}class="active"{% endif %}><a href="{{ path('perfil_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nuevo</a></li>
        </ul>
    </li>
{% endif %}
{% if is_granted('ROLE_EDITOR') or is_granted('ROLE_SUPER_ADMIN') %}
    <li class="treeview {% if option is defined and (option == 'usuario_list' or option == 'usuario_create' or option == 'usuario_edit') %}active{% endif %}">
        <a href="#">
            <i class="fa fa-user"></i>
            <span>Usuarios</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li {% if option is defined and option == 'usuario_list' %}class="active"{% endif %}><a href="{{ path('usuario_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Ver usuarios</a></li>
            <li {% if option is defined and option == 'usuario_create' %}class="active"{% endif %}><a href="{{ path('usuario_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nuevo</a></li>
        </ul>
    </li>
{% endif %}
{% if is_granted('ROLE_EDITOR') %}
    <li class="treeview {% if option is defined and option == 'menu' %}active{% endif %}">
        <a href="#">
            <i class="fa fa-gears"></i>
            <span>Opciones</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li {% if option is defined and option == 'menu' %}class="active"{% endif %}>
                <a href="{{ path('menu_index') }}" style="margin-left: 10px;"><i class="fa fa-bars"></i> Menú</a>
            </li>
        </ul>
    </li>
{% endif %}

<li>
    <a href="{{ path('logout') }}">
        <i class="fa fa-sign-out"></i>
        <span>Cerrar sesión</span>        
    </a>
</li>

{% endblock %}