<p><b>Modelo:</b> {{ auditoria.modelo }}</p>
<p><b>Descripción:</b> {{ auditoria.descripcion }}</p>
<p><b>Ip Cliente:</b> {{ auditoria.ip_maquina }}</p>
<p><b>Tipo de transacción:</b> {{ auditoria.tipo_transaccion }}</p>
<p><b>Resultado de transacción:</b> {{ auditoria.resultado_transaccion }}</p>